// DW Delay values
set facebook_active 1
set facebook_friends_active 1
set facebook_upload_video_active 0
set facebook_upload_photo_active 0
set facebook_delay 750
set facebook_max_retry_time 30000
set facebook_retry_step 1000
set facebook_friends_max_retry_time 30000
set facebook_friends_retry_step 1000

set entitlements_active 1
set entitlements_delay 500
set entitlements_config_file_max_retry_time 30000
set entitlements_config_file_retry_step 1000
set entitlements_key_archive_max_retry_time 30000
set entitlements_key_archive_retry_step 1000

set userGroup_active 0
set elite_clan_active 0

set dw_presence_active 1
set dw_presence_put_delay 5000
set dw_presence_put_rate 30000
set dw_presence_get_delay 5000
set dw_presence_get_rate 60000

#ifdef MP
set onlinevault_active 1
set onlinevault_maxslots_sub0 10
set onlinevault_maxslots_sub1 10
set onlinevault_maxslots_sub2 24
set onlinevault_maxtime_sub0 30
set onlinevault_maxtime_sub1 30
set onlinevault_maxtime_sub2 60
#endif // #ifdef MP

set past_title_data_active 0

set pm_gamesetup_mode_altmodes 1
set pm_gamesetup_mode_altmodes_dropzone 1
set pm_gamesetup_mode_altmodes_teamjug 1
set pm_gamesetup_mode_altmodes_jug 1
set pm_gamesetup_mode_altmodes_gungame 1
set pm_gamesetup_mode_altmodes_infected 1
set pm_gamesetup_mode_altmodes_oneinthechamber 1

set pm_gamesetup_options_createdefaultclass 1
set pm_gamesetup_options_customclassrestrictions 1

set prestige_shop_active 1

set theater_active 1

// Robert's host disadvantage tweaks
set sv_local_client_snapshot_msec -1 

// Reverting rate throttling
set sv_newRateThrottling 2 
set sv_newRateCap 1000

// Increasing sensitivity of host migrations
set sv_acceptableRateThrottle 150

// exposes DLC in SO Survival
set num_available_map_packs 14

ui_showDLCMaps to 1

//Image of the day

//Chaos Mode
set content_allow_chaos_mode 1

//Terminal included in Original Maps
set party_include_terminal_in_original_maps_search 1

// Telemetry Dvars
set pdc 1

set msping_enabled 1
set msping_random  1000
set msping_initial_delay 5000
set msping_between_delay 1000
set msping_count 5
 
set msping_host_0 "iw-westus-reflector.cloudapp.net:9100"
set msping_host_1 "iw-eastus-reflector.cloudapp.net:9100"
set msping_host_2 "iw-northeu-reflector.cloudapp.net:9100"
set msping_host_3 "iw-westeu-reflector.cloudapp.net:9100"
set msping_host_4 "iw-southeastas-reflector.cloudapp.net:9100"
set msping_host_5 "iw-eastas-reflector.cloudapp.net:9100"

//IWDs
Set sv_iwds "-1470673837 -635255847 -874296461 1390873860 1678917485 -1353990767 112335619 1439683703 -1566947805 -1385143594 -2131463667 2115210863 712442482 385149701 1421000852 701462784 942523818 -886393481 619971653 1771096998 1235270818 1067382608 192519081 -1234224239 1483631977 725758785 400224340 -1086564164 2075619409 -1422667549 -1540760560 -1606111061 904543136 -729390463"
Set sv_iwdNames "iw_34 iw_33 iw_32 iw_31 iw_30 iw_29 iw_28 iw_27 iw_26 iw_25 iw_23 iw_22 iw_21 iw_20 iw_19 iw_18 iw_17 iw_16 iw_15 iw_14 iw_13 iw_12 iw_11 iw_10 iw_09 iw_08 iw_07 iw_06 iw_05 iw_04 iw_03 iw_02 iw_01 iw_00"     

#ifdef MP
set sv_cumulThinkTime 75
set cl_penaltyTimeNeg 66
set cl_penaltyThresholdNeg 0
set cl_penaltyThreshold 8
set cl_minErrorTime 100
set cl_maxErrorTime 1000
set cl_timeBufferSize 10
#endif // #ifdef MP

